/* ********* */
/* @HOME */
/* ********* */
body{
    // Color de fondo
    background-color: lighten(map-get(map-get($colores, fondo), base), 25%);
}
.contenedor{
    // tamaño de la caja
    height: 100vh;
    max-height: 800px;
    max-width: $desktop;
    margin: 0 auto;


    // Fondo: color y tres imágenes
    background:  url(../assets/img/desktop/chica_guitarra.jpg) no-repeat right top,
                 url(../assets/img/desktop/hojas.jpg) no-repeat left 80%,
                 url(../assets/img/desktop/lineas.jpg) no-repeat left top,
                 linear-gradient(to left, map-get(map-get($colores, fondo), base) 0%, #573E75 100%);

    background-size: contain, 12%, 10%;
            };
    

